/* Handy classes */
.inline div{
    display: inline-block;
}


/*  Things that affect everything */
* {
    /* Setting default fonts */
    font-family: Arial, Helvetica, sans-serif;

    /* Set default text colour */
    color: lightgray;
}


/* Base site effects */
html {
    background-color: rgb(51, 51, 51); /* Setting the background colour */
}


/* Header styling */
header h1{
    text-align: center;
    font-size: 75px;
    margin-bottom: 25px;
    margin: 0;
}


/* The people list decorations */
section.div-list-inline {
    text-align: center; /* Align the list of people to the center of the screen */
}
section.div-list-inline h3 {
    /* Set header size and spacing */
    font-size: 30px;
    margin-bottom: 10px;
}
section.div-list-inline div{
    /* Div borders and spacing */
    border: 5px gray solid;
    border-radius: 10px;
    margin: 5px;
}
section.div-list-inline div img {
    /* Image borders (separating from the text) and rounded corners */
    border-bottom: 5px gray solid;
    border-radius: 5px 5px 0 0;
}
section.div-list-inline div h4 {
    /* Setting the font size for the text and setting the spacing */
    font-size: 20px;
    margin: 0; padding: 5px;
}
section.div-list-inline a {
    text-decoration: none; /* Remove the underline for the links (it gets displayed in the wrong place) */
}

/* Settings for the people and project lists */
section#people-list img{
    height: 200px;
}
section#project-list img{
    height: 250px;
}


/* Configuring the pre-footer spacing */
.pre-footer-spacing {
    margin-bottom: 75px; /* TODO: IMPORTANT every time you change the height of the footer, change this to be equal to the height of the footer */
}

/* Configuring the footer */
footer {
    /* Placing the footer */
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    padding: 25px; 

    /* Setting the background colour of the footer */
    background-color: rgb(25, 25, 25);
}

/* Text in footer */
footer h4 {
    margin: 0;
}