/* Making space fot the list of programming languages on the right */
article {
    margin-right: 380px;
}

/* Remove the margin on the header for the table */
section#language-list h3 {
    margin-top: 0;
}

/* Move the table containing the languages we use */
section#language-list {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    transform: translate(0, -348px); /* TODO: IMPORTANT every time you change the height of the footer you MAY need to change this */ /* TODO: IMPORTANT every time the side panel height is changed, the height value MUST be adjusted */
    right: 10px;
}
/*comment*/